<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Music Library</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="track-container">
    <div class="edit-track">
        <form action="/edit/<%= result[0].Id %>" method="post" >
            <h1>Editing Device:  <%= result[0].artist %> <%= result[0].track %></h1> 
            <input name="track" type="text" value="<%= result[0].track %>"><br>
            <input name="artist" type="text" value="<%= result[0].artist %>"><br>
            <input name="length" type="text" value="<%= result[0].length %>"><br>
            <input name="album" type="text" value="<%= result[0].album %>"><br> 
            <input name="cover" type="text" value="<%= result[0].cover %>"><br> 
            <input type="submit" value="Edit">
        </form>
    </div>
</div>