<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Music Library</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="track-container">
    <div class="edit-track">
        <form action="/edit/<%= result[0].Id %>" method="post" >
            <h1>Editing Device:  <%= result[0].artist %> <%= result[0].track %></h1> 
         <input name="model" value="<%= result[0].track %>"><br>
         <input name="make" value="<%= result[0].artist %>"><br>
         <input name="price" value="<%= result[0].length %>"><br>
         <input name="cover" value="<%= result[0].cover %>"><br> 
        <input type="submit" value="Edit">
        </form>
    </div>
</div>