Id: <%= result[0].Id%> <br/>
Model: <%= result[0].track%> <br/>
Make: <%= result[0].artist%> <br/>
Length (seconds): <%= result[0].length%> <br/><br/>
<p> <img src="/<%= result[0].cover %>"alt="<%= result[0].cover %>" style="width:30%"/> </p>



<a href="/"> Return Home</a> 